/*Importa a fonte "ROBOTO" do google Fonst em diversos estilos e pasos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color:#da190f;
    --bg: #13131a;
    --br-card: #0c0c14;
    --border: 0.1rem solid grey;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robo','sana-serif';
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}   

/* estelizando html */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg); /*fundo de body color negro, esto color viene de arriba que esta dentro de root*/

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: sticky;
    background: var(--bg);
    top: 0;
    left: 0;
    z-index: 999;

}