/*Importa a fonte "ROBOTO" do google Fonst em diversos estilos e pasos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color:#da190f;
    --bg: hsla(167, 88%, 20%, 0.761);
    --br-card: #0c0c14;
    --border: 0.1rem solid grey;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robo','sana-serif';
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}   

/* estelizando html */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg); /*fundo de body color negro, esto color viene de arriba que esta dentro de root*/

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: sticky;
    background: var(--bg);
    top: 0;
    left: 0;
    z-index: 999;

}

/*estilizando imagen que esta dentro de header que esta ancorado*/
.logo img {
    height: 6rem;/*define altura de logo*/
    border-radius: 100%;
}

.ul-header {
    display: flex;
    gap: 15px;
}

.ul-header a {
    color: #fff;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: var(--main-color); /*muda a cor do hover*/
    border-bottom: 0.1rem solid var(--main-color); /*adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem;/*adiciona espaçamento inferior no hover*/

}

.ul-header li {
    list-style: none;/*esto é para tirar os pontos nas listas*/

}

.icons {
    /*NÃO ESTOU MEXENDO NOS ICONES, E SIM NA CAIXA*/
    display: flex;
    align-items: center;
    gap: 15px;/*es para separar los inconos*/
}

.icons i {
    color: white;/*cor branca para ícons*/
    cursor: pointer;/*altera o curso ao passar sobre ícone*/
    font-size: 2.5rem;/*tamanho dos ícones*/

}

.icons i:hover {
    color: var(--main-color);/*muda a cor ícone ao passar o mause*/
}

#home {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 85vh;/*altura mínima da sessão*/
    background: url(imagens/foto\ fundo01ac.jpg) no-repeat;
    background-size: cover;/*preenchimento da imagem*/
    background-position: center;/*posicio0namento de imagen*/
    border-bottom: var(--border);/*adiciona borda inferior*/
}


.content {
    max-width: 60rem;/**/
    position: relative;
    z-index: 2;
}

.content h3 {
    font-size: 6rem;/*tamanho do título*/
    text-transform: uppercase;/*deixando o texto em caixa alta*/
    color: #fff; /*cor da letra branca*/
}

.content p {
    font-size: 2rem;/*tamanho da fonte para parágrafos*/
    font-weight: lighter;/*peso da fonte mais leve*/
    line-height: 1.8rem;/*esoaçamento entre as linhas*/
    padding: 1rem 0;/*espaçamento interno*/
    color: #fff /*cor da letra branca*/
}

/* https://www.w3schools.com/cssref/sel_before.php */

#home::before {
    content: "";/*adiciona psudo-elmento vazio*/
    position: absolute;/*permite posicionamneto absoluto*/
    top: 0;/*alinha pseudo-elemento ao toopo*/
    left: 0;/*alinha a ezquerda*/
    width: 100%;/*ocupa toda a largura*/
    height: 100%;/*ocupa tota a altura*/
    background-color: rgba(0, 0, 0, 0.5);/*adiciona sobreposição escura*/
    z-index: 1;/*posiciona abaixo do conteúdo*/

}

section {
    padding: 2rem 7%;/*garante espaçamento interno nas sessões (resposividade)*/

}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;/*texto em caiza alata*/
    padding-bottom: 3rem;/*espaçamento interno em relação ao título*/
    font-size: 4rem;/*=40px*/
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;/*texto caixa alta*/
}

/* estilizando botões */

.btn {
    margin-top: rem;
    padding: 0.9em 3rem; /*preechimento interno superior e inferior */
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    display: inline-block;/*deixando a formatação do botão em formato do (Bloco)*/
}

/* ttps/www.w3schools.com/css/tryit.asp? */
    /* filename=trycss_inline-block*/ 



